body{
    background-color: rgb(243, 116, 137);
    text-align: center;
}

header{
    text-align: center;
    border-bottom: 2px solid;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.container-1{
    display: grid;
    grid-template: 
    "a b" / 1fr 2fr;
    border-bottom: 2px solid;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    
    align-items: center;

}

img{
    width: 200px;
}

#image{
    grid-area: a;
    display: grid;
    
}

.cs-text{
    grid-area: b;
    display: grid;
}


@media (max-width: 800px) {
    .container-1 {
        display: grid;
        grid-template:
            "a"
            "b";
    }
}


.container-2 {
    display: grid;
    grid-template: 
    "a b" / 1fr 1fr;
    border-bottom: 2px solid;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    
    align-items: center;
}

.accomplishments {
    grid-area: a;
    display: grid;
}

.accomplishments ul li {
    padding: 5px;
}

.skills {
    grid-area: b;
    display: grid;
}

.skills ul li {
    padding: 5px;
}

@media (max-width: 800px) {
    .container-2 {
        display: grid;
        grid-template:
            "a"
            "b";
    }
}

footer p {
    
}

    
